
.wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ribbon{
    padding: 2%;
    background-color: #005eff;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 40% 50%, 0% 0%);
}
.nav{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#005eff;
    padding: 10px;
    color: #fff;

}
.nav>a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 20px;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: 900;
}
.ribbon_1{
    padding: 2%;
    background-color: #005eff;
    clip-path: polygon(100% 0%, 43% 46%, 100% 100%, 0 100%, 0% 50%, 0 0);
}
.nav>a:hover{
    background-color: #ffcc00;
    font-size: 25px;
}
