@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  font-family: "poppins", "verdana";
  box-sizing: border-box;
}
body{
  background-image: url(./images/leaf.jfif);
  background-blend-mode:luminosity ;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  color: #fff;
  text-align: center;
  align-items: center;
}
.yo{
  margin-left: 30%;
  text-align: left;
}
h3{
  text-align: center;
  margin-right: 40%;
  padding-bottom: 2%;
}
input{
  border-radius: 10px;
}
button{
  padding: 5px 120px;
  border-radius: 10px;
  background-color: #1C8D73;
}
