*{
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
}
.form{
    background-color: #1f1f1f;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 40%;
    padding: 2% 1%;
    border-radius: 10px;
}
.form>.title{
    font-size: 40px;
    font-weight: 900;
    padding: 1%;
}
.form>.subtitle{
    font-size: 15px;
    padding-bottom: 10%;
    padding-right: 50px;
    font-weight: 900;
}
input{
    padding: 15px 30px;
    background-color: #2f2f2f;
    border-radius: 10px;
}
label {
    display: block;
    transform: translate(0, -1.5rem);
    color: #808080;
    margin-left: 20px;
  }
button{
    padding: 10px 80px;
    background-color: #12B0E8;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
}